@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* canvas work */
html, body  {

    height: 100%;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    margin:0;
    padding:0;
    

       
}


html{
    overflow-x:hidden;
    height:100%;
    
}

.container {
    margin: 0;
    width: 100%;
    padding:0;

}



#cover{
    margin:0;
    height: 100%;
    width:100vw;
    padding:0;
   
}

#particles-js{
  background: linear-gradient(180deg,rgb(42,72,99),rgb(63,126,172));
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
   
    /* background: linear-gradient(110deg,rgb(30, 67, 132),rgb(7, 125, 138));
    width: 100%;
    position: absolute;
    height: 100vh;
    opacity: 1;
    display: block; */
    
    /* overflow: visible; */
}

#myName{
    text-align: center;
    color: rgb(252, 101, 101);
    font-style: bold;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight:bold;
}



#text{
    position: absolute;
    left: 0;
    padding: 0;
    margin-top:70px;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    display: inline;
    font-size: 30px; 
    line-height: 80px;
    
}


#canvasMe{
    width: 150px;
    border-radius: 37%;

}


#canvasBtn{

    color: white;
    background:none;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: .5s;
    text-transform: uppercase;
    border-radius: 0 !important;
    
}

#canvasBtn:hover{
    transition:ease 1.8;
    background: rgb(252, 101, 101);
    border-color:rgb(252, 101, 101);

}

#houses{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    height: 120px;
    z-index: 0;
}


#arrow {
    margin-left: 15px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .3s linear;
} 


#arrow.down {
  
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.navBar .icon {
    display: none;
    margin-right: 30px;   
    
}

.navBar{
    top:0;
    left:0;
    position: fixed;
    height:40px;
    width: 100%;
    background:none;
    font-family: 'PT Sans', sans-serif;
    background:#193242;
    border-bottom: solid 2px #e5e5e5;
    text-align: left;
    z-index: 99;
    list-style-type: none;
    font-size: 15px;
}

/* .navBarScroll{
    top:0;
    left:0;
    position: fixed;
    height:30px;
    width: 100%;
    background:black;
    border-bottom: solid 2px #fff;
    font-family: 'PT Sans', sans-serif;
    transition: .8s ease-in;
    text-align: center;
    z-index: 99;
    font-size: 15px;
    list-style-type: none;
} */

.buttonList{
    
    top: 40px;
    width:100%;
    padding: 5px 0px 5px 15px;
    background: none;
    overflow:visible;
    color: white;
   
    
}


.navlist{
   
    display:inline;
    width: 100%;
    margin: 0;
    color: white;
    padding: 0 20px;
    font-size: 20px;
    transition: 0.35s all ease;
 
}
.links{
    width: 100%;
    color: white;
    margin: 0;
    font-size: 20px;
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
    transition: 0.2s;
    text-transform: uppercase;
    

}


.links:hover{
    
    /* font-weight: bold; */
    text-decoration:none;
    color: rgb(252, 101, 101);
    /* border-top: solid 1.5px rgb(252, 101, 101); */

}

.links:active{
    text-decoration:none;
    color: rgb(252, 101, 101);

}






/* skills canvas section*/


#skills{
    background: rgb(42,72,99);
    width:100%;
    /* height: 100%; */
    /* position: relative; */
    padding-bottom: 60px;
    
    
}

#skillHeader{
    color: rgb(164,200,225);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}

#skillHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(5,236,255); 
    height: 8px;
    margin: 10px auto;    
}
.active{
    color: rgb(252, 101, 101);
    /* border-top: solid 1.5px rgb(252, 101, 101); */


}

.aboutmeText{

    font-family: 'PT Sans', sans-serif;
    margin: 0 50px;
    color:white;
    border: 1px solid;
    border-color: rgb(164,200,225);   
    text-align: left;
    padding: 35px 35px;
    align-items: center;
    margin-top: 90px;
}


.greetings  {
    text-align: center;
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0 50px 0; */
}
#introText{
    font-size: 40px;
    font-weight:bold;
    padding: 0 30px 20px 0;
    color:rgb(164,200,225); 
    float:left;
    
    
}



#nameOfWork{
    color: rgb(164,200,225);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin-top: 90px;
    
}


#introP{

    font-size: 16px;
   
}
#nameOfWork::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(5,236,255); 
    height: 6px;
    margin: 20px auto;    
}
.frontBlock{
    
    list-style: none;
    margin:0;  
    padding:0;
    display: flex;
    max-height: 420px;
    flex-flow: wrap column;
    text-align: center;

}

.serverBlock{
    list-style: none;
    margin:0;  
    padding:0;
    display: flex;
    max-height: 200px;
    flex-flow: wrap column;
    text-align: center;

}

.dataBlock{
    list-style: none;
    padding:0;

    margin:0;  
    display: flex;
    max-height: 100px;
    flex-flow: wrap column;
    text-align: center;

}

#icons{
    font-size: 50px;
    max-width: 100px;
    line-height: 1.5em;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}


.iconText{
    font-size: 17px;
    margin-top: auto;
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-bottom: 0;
    position: relative;
    text-align: center;

}

/* PROJECTS SECTION */

.codingContainer{
    min-width:100%;
}

.content-title{
    font-size: 32px;
}

#myProjects{


    background-color: rgb(164,200,225);
    min-height: 100vh;
    margin:0;
    width:100%;
    /* position: relative; */
    /* background-size: cover; */
    
}

#projectHeader{
    color: rgb(42,72,99);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}
#projectHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(42,72,99); 
    height: 8px;
    margin: 10px auto;    
}

#projectDiv{
    padding-right:0;
    padding-left:0;

    text-align: center;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    padding-bottom: 50px;
    margin-top:100px;
    font-size: 20px;

}

.activeProject{
    text-decoration: none;
    color: #38d4ff;
    background: #001C38;
    cursor: pointer;
    padding: 0;

}

.btns{
    text-decoration: none;
    color: #2a4863;
    transition: ease .3s;
    cursor: pointer;
    padding: 0;
    background: rgba(212,245,245, .7);
    transition: .7s ease

}


.btns:hover{
    text-decoration: none;
    color: #38d4ff;
    background: #001C38;
    cursor: pointer;
    padding: 0;

}






/* THIS IS OVERLAY CONTENT */
.codingContainer{
    /* padding: 1em 0; */
    float: left;
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    margin: 25px 0 50px 0;

}

.content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;

}


.content .content-overlay {
    background: rgba(164,200,225);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}
  
  .content-image{
    width: 100%;
}
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
  .content-details h3{
    color: black;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
  .content-details p{
    color: black;
    background: white;
    font-size: 1.2em;
}
  
  .fadeIn-bottom{
    top: 80%;
}



/* END OVERLAYCONTENT */





/* NAVBAR */
#htmlCss #javascript #nodeJS #databases{
    text-align:center;
    padding:0;
    
}

#htmlCss:hover #javascript:hover #nodeJS:hover #databases:hover{
background: black;
color: white;   
padding:0; 
}





/* HOBBIES SECTION */
.hobby-description{
    border: solid 1px #281942;
    padding: 15px;
    margin:5px;
    background-color: 	rgba(166,223,235, .2);
    line-height: 1.5em
}

.divImage{
    width: 280px;
   display: inline-block;
    padding: 0;

}
.airplane-div, .telescope-div, .cycling-div, .videogames-div, .piano-div{
    
  text-align: center;
  padding: 0;
  align-content: center;
}
.checked, .half {
    color: orange;
}
.hobbyIcons{
    padding-bottom: 40px;

}

#airplane{
    background-color:#39a9db;
}
#telescope{
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 20px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 20px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 15px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 17px),
    radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 20px);
    background-position: 70px 90px, 27px -5px, 78px 50px, -70px 75px, -90px -65px, 65px 102px, -38px 70px, 100px 99px, 4px 80px, 31px 90px, 9px -8px, 50px 100px, 60px -7px, 43px -5px, -20px 40px;
    background-size: 100% 100%;
    
}

#cycling{
    /* background-color: #00a1e4; */
    background: linear-gradient(180deg,rgb(27, 138, 198),rgb(0,161,228));
}
#piano{
    background-color:rgba(28, 233, 226, .2);
}

#videogames{
    background-color: 	#e2e8dd;

}
.hobbiePics{
    text-align: center;
    margin-top: 55px;
    position: relative;

}

.pics{
    
    width: 120px;
    margin: 0 25px 0 25px;
    height:120px;
    transition: .7s ease;
    cursor: pointer;
}




#hobbies{
    position: relative;
    /* height: 100vh; */
    width: 100%;
    padding-bottom:60px;
    margin:0;
    background-color: #f0feff;
    font-family: 'PT Sans', sans-serif;


}
#hobbiesHeader{
    color: #001c38;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}
#hobbiesHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: #001c38; 
    height: 8px;
    margin: 10px auto;    
}






/* CONTACT SECTION */

hr{
    width: 200px;
}
.fa-file-alt{
    color: white;
    font-size: 25px;
};

#resume{
    text-decoration: none;    
    transition: .9s;

}

#resume:hover{
    color: rgb(252, 101, 101);
    text-decoration: none;

}
/* .success{
    background-color:#3acd7f;
    border: solid 1px #dcef9e;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    width: 30%;
}
.failure{
    background-color:#ce2727;
    border: solid 1px #650c0c;
    color: 	#221a1a;
    font-family: 'PT Sans', sans-serif;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
} */

#myEmail{
    color: 	#16c6f4;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 20px;
    
}

#contact{
    
    width:100%;
    background-color:#4f7cac;
    overflow: hidden;
    padding-bottom: 80px;
}
#contactHeader{
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    margin-top: 90px;

}
#contactHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: #ffffff; 
    height: 8px;
    margin: 10px auto;    
}

.formSection{
    padding: 0;
    padding-top: 100px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin:0;
    
}

.contactMe input, textarea{
   min-width: 70%;
   border: solid 1px rgba(252,250,250, .5);
   background: none;
   color: #ffffff;
   padding: 5px 5px;
   box-shadow: none;
   margin: auto;
   
}
::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}



.contactMe textarea{
    height: 150px;
    color: #ffffff;
    /* margin-bottom:10px; */
}

.formControl:focus{
    box-shadow: none;
    border: solid 2px #ffffff !important;
}
.formControl{
    /* margin-bottom: 10px; */
}




.formCat{
    padding-bottom: 50px;
    font-size: 20px;
    color: #ffffff;
}


#submitButton{
    min-width: 10%;
    margin: 15px;
    text-align: center;
    transition: .7s ease
}


#submitButton:hover{
    text-decoration: none;
    color: #ffffff;
    background: rgb(252, 101, 101);
    cursor: pointer;
}

.contactHeader{
    text-align: center;
    color: #ffffff;
    margin-top:45px;
    font-family: 'PT Sans', sans-serif;
    
}
#contactHeadingText{
    font-size: 17px;
}


#arrowHome{
    cursor: pointer;
    font-size: 30px;
    color: white;
    position: relative;
    display: inline;
    text-align: center;
    padding: 5px 15px;
    top: -5px;
    transition: .6s;
}

#arrowHome:hover{
    color:rgb(252, 101, 101);

}

footer{
    width: 100%;
    bottom:0;
    padding-top: 20px;
    background-color: #104868;
    text-decoration: none;

    

}

.footingWrapper{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;

    
}

#faviconLinks{
    text-decoration: none;
    font-size: 27px;
    padding-bottom: 20px;   
    text-align: center; 
    
}

.linking{
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: .3s;
}
.linking:hover{
    text-decoration: none;
    color: rgb(252, 101, 101);
}




/* Mobile Friendly Canvas */

@media only screen and (max-width: 600px) {

    html, body  {

        height: 100%;
        width:100%;
        font-family: 'PT Sans', sans-serif;
        margin:0;
        padding:0;    
           
    } 

    #hobbies{
        /* height:100%; */
        padding-bottom: 20px;

    }
    

    #skills{
        position: 100%;
        min-height: 100vh;
    }
    

    .navlist{
        /* padding:0; */
        margin:0;
        left:0;
    }
    .links:active{
        text-decoration:none;
    }
    

   #text{
       font-size:20px;
       margin-top: 50px;
       /* width: 100%; */
   }
   #myName{
       font-size:30px;
   }
   .links{
       font-size: 15px;
       top:0;
       padding:0;
       margin:0;
   }

   .buttonList{
       top:0;
       position: fixed;
       background: #193242;
    }
    #canvasMe{
        width: 100px;
    }

    .frontEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    .serverEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    .dataEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    #particles-js{
   
        position: absolute;
        height:100%;
        opacity: 1;
    }
    
    .hobbiePics{
     text-align: center;
     margin-top:20px;
     padding:0;
 
   
    }
    .pics{
        width: 50px;
        height: 50px;
        margin-top:20px;
        padding:0;
        border-radius: 0;
    }
    



    .navBar links{

        top:0;
        font-size: 10px;

    }

    .aboutmeText{
        margin:0;
    }

    .buttonList a {display: none;}
    .navBar a.icon {
      float: right;
      display: block;
      text-decoration: none;
    }
  
    .navBar.responsive {position: relative;}
    .navBar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;     
      padding:0;
    }
    .navBar.responsive a {
      float: left;
      display: block;
      top: 50px;
      text-align: left;
      top:0;
    }
    /* .links:hover{
    
        font-weight: bold;
        text-decoration:none;
        background-color: rgb(124, 193, 241);
    
    } */

    .navBar a:hover{
        /* font-size:.8em; */
        color: rgb(252, 101, 101);
        /* backgrrcolor: white; */

    }

    #projectDiv{
        font-size: 10px;
        padding: 0 !important
    }
    .divImage{
        width: 100px;
        /* height: 108px; */
        padding:0;
        display: inline;
        font-size: 14px;
        text-align: center;
        
    }
    
.pics{
    
    margin: 0 5px 0 5px;
    
}


}

@media screen and (max-width: 500px){


    .hobby-description{
    font-size: 10px;
    }
    
    .codingContainer{
      display: block;
      width: 100%;
    }
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 2;
    }
      
      .content-details h3{
        color: black;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        font-size: 25px;
        text-transform: uppercase;
    }
      
      .content-details p{
        color: black;
        background: white;
        font-size: 0.8em;
    }
      
      .fadeIn-bottom{
        top: 80%;
    }
    
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
      
      .content-details h3{
        color: black;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
      
      .content-details p{
        color: black;
        background: white;
        font-size: 1.4em;
    }
      
      .fadeIn-bottom{
        top: 80%;
    }
  }
/* MEDIA QUERY FOR .projectsContainer */
@media (min-width: 1100px){
    .codingContainer{

        min-width:100%;
    
    }
}


  
