@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* canvas work */
html, body  {

    height: 100%;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    margin:0;
    padding:0;
       
}


html{
    overflow-x:hidden;
}
.container {
    margin: 0;
    width: 100%;

}




#particles-js{
   
    background: linear-gradient(110deg,rgb(30, 67, 132),rgb(7, 125, 138));
    height: 100vh;   
    width: 100%;
    position: relative;
    opacity: 1;
    overflow: visible;
}

#myName{
    text-align: center;
    color: rgb(252, 101, 101);
    font-style: bold;
    padding: 0px 15px;
    font-size: 50px;
    font-weight:bold;
}



#text{
    position: absolute;
    left: 0;
    top: 10%;
    padding: 0 20px;
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    display: inline;
    font-size: 30px; 
    line-height: 90px;
    
}

h1::after {
    content: '';
    width: 70px;
    display: block;
    background: #fff;
    height: 8px;
    margin: 30px auto;    
}

#canvasMe{
    width: 150px;
    border-radius: 37%;

}


#canvasBtn{

    color: white;
    background:none;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: .5s;
    text-transform: uppercase;
    border-radius: 0 !important;
    
}

#canvasBtn:hover{
    transition:ease 1.8;
    background: rgb(252, 101, 101);
    border-color:rgb(252, 101, 101);

}


#arrow {
    margin-left: 15px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .3s linear;
} 


#arrow.down {
  
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.navBar{
    bottom:0;
    left:0;
    position: absolute;
    height:60px;
    width: 100%;
    background:none;
    text-align: left;
    z-index: 99;
    list-style-type: none;
    transition: 0.35s all ease;

   
}


.buttonList{
    
    top: 60px;
    width:100%;
    background: none;
    /* overflow:visible; */
    color: white;
    
}


.navlist{
   
    display:inline;
    width: 100%;
    margin: 0 40px;
    color: white;
    font-size: 20px;
    transition: 0.35s all ease;
 
}
.links{
    width: 100%;
    color: white;
    margin: 0;
    font-size: 20px;
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
    transition: 0.2s;
    text-transform: uppercase;

}


.links:hover{
    
    font-weight: bold;
    text-decoration:none;
    color: rgb(252, 101, 101);

}

.links.active{
    text-decoration:none;
    color: rgb(252, 101, 101);
}

/* end canvas work */



/* skills canvas section*/


#skills{
    background: rgb(89, 154, 145);
    width:100%;
    position: absolute;
    background-size: cover;
    
}

#skillHeader{
    color: rgb(50, 95, 89);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}

#skillHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(167, 214, 208); 
    height: 8px;
    margin: 30px auto;    
}


.aboutmeText{

    font-family: 'PT Sans', sans-serif;
    margin:0;
    color:white;
    border: 1px solid;
    border-color: rgb(181, 240, 232);   
    text-align: left;
    padding: 35px 35px;
    align-items: center;
    margin-top: 90px;
}

.greetings  {
    text-align: center;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#introText{
    font-size: 40px;
    font-weight:bold;
    padding: 0 25px 15px 0;
    color:rgb(181, 240, 232);
    float:left;
    
}

#frontEnd{
    color: rgb(50, 95, 89);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin-top: 90px;
    

}
#frontEnd::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(167, 214, 208); 
    height: 6px;
    margin: 20px auto;    
}
.iconBlock{
    
    list-style: none;
    margin:0;  
    padding: 50px;
    flex-direction: column;
}

#icons{
    font-size: 50px;
    width: 100px;
    line-height: 1.5em;
    height: 100px;
    color: white;
    margin: 0;
    text-align: center;
    max-width: 100px;
    
}


.iconText{
    font-size: 17px;
    margin-top: auto;
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-bottom: 0;

}


/* Mobile Friendly Canvas */

@media only screen and (max-width: 500px) {
   #text{
       font-size:20px;
       width: 100%;
   }
   #myName{
       font-size:30px;
   }
   .links{
       font-size:10px;
       top:0;
   }
   .buttonList{
       top:0;
       position: fixed;
       background: black; 
    }
    #canvasMe{
        width: 100px;
    }


    /* .aboutmeText{

        

    } */
    .navBar links{

        top:0;
        font-size: 10px;

    }

    .aboutmeText{
        margin:0;
    }


}


  
