@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* canvas work */
html, body  {

    height: 100%;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    margin:0;
    padding:0;

       
}


html{
    overflow-x:hidden;
    height:100%;
}

.container {
    margin: 0;
    width: 100%;
    padding:0;

}



#cover{
    margin:0;
    height: 100%;
    width:100vw;
    padding:0;
   
}

#particles-js{
  background: linear-gradient(180deg,rgb(42,72,99),rgb(63,126,172));
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
   
    /* background: linear-gradient(110deg,rgb(30, 67, 132),rgb(7, 125, 138));
    width: 100%;
    position: absolute;
    height: 100vh;
    opacity: 1;
    display: block; */
    
    /* overflow: visible; */
}

#myName{
    text-align: center;
    color: rgb(252, 101, 101);
    font-style: bold;
    padding: 0px 15px;
    font-size: 50px;
    font-weight:bold;
}



#text{
    position: absolute;
    left: 0;
    padding: 0;
    margin-top:50px;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    display: inline;
    font-size: 30px; 
    line-height: 90px;
    
}

h1::after {
    content: '';
    width: 70px;
    display: block;
    background: #fff;
    height: 8px;
    margin: 30px auto;    
}

#canvasMe{
    width: 150px;
    border-radius: 37%;

}


#canvasBtn{

    color: white;
    background:none;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: .5s;
    text-transform: uppercase;
    border-radius: 0 !important;
    
}

#canvasBtn:hover{
    transition:ease 1.8;
    background: rgb(252, 101, 101);
    border-color:rgb(252, 101, 101);

}


#arrow {
    margin-left: 15px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .3s linear;
} 


#arrow.down {
  
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.navBar .icon {
    display: none;
    margin-right: 30px;   
    
}

.navBar{
    bottom:0;
    left:0;
    position: absolute;
    height:60px;
    width: 100%;
    background:none;
    font-family: 'PT Sans', sans-serif;

    text-align: left;
    z-index: 99;
    list-style-type: none;
    transition: 0.35s all ease;

   
}


.buttonList{
    
    top: 60px;
    width:100%;
    background: none;
    overflow:visible;
    color: white;
    
}


.navlist{
   
    display:inline;
    width: 100%;
    margin: 0 40px;
    color: white;
    font-size: 20px;
    transition: 0.35s all ease;
 
}
.links{
    width: 100%;
    color: white;
    margin: 0;
    font-size: 20px;
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
    transition: 0.2s;
    text-transform: uppercase;

}


.links:hover{
    
    font-weight: bold;
    text-decoration:none;
    color: rgb(252, 101, 101);

}

.links:active{
    text-decoration:none;
}






/* skills canvas section*/


#skills{
    background: rgb(42,72,99);
    width:100%;
    height: 100%;
    /* position: relative; */
    padding-bottom: 60px;
    
    
}

#skillHeader{
    color: rgb(164,200,225);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}

#skillHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(5,236,255); 
    height: 8px;
    margin: 30px auto;    
}


.aboutmeText{

    font-family: 'PT Sans', sans-serif;
    margin: 0 50px;
    color:white;
    border: 1px solid;
    border-color: rgb(164,200,225);   
    text-align: left;
    padding: 35px 35px;
    align-items: center;
    margin-top: 90px;
}


.greetings  {
    text-align: center;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0 50px 0; */
}
#introText{
    font-size: 40px;
    font-weight:bold;
    padding: 0 60px 15px 0;
    color:rgb(181, 240, 232);
    float:left;
    
    
}



#nameOfWork{
    color: rgb(164,200,225);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin-top: 90px;
    
}


#introP{

    font-size: 16px;
   
}
#nameOfWork::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(5,236,255); 
    height: 6px;
    margin: 20px auto;    
}
.frontBlock{
    
    list-style: none;
    margin:0;  
    padding:0;
    display: flex;
    max-height: 420px;
    flex-flow: wrap column;
    text-align: center;

}

.serverBlock{
    list-style: none;
    margin:0;  
    padding:0;
    display: flex;
    max-height: 200px;
    flex-flow: wrap column;
    text-align: center;

}

.dataBlock{
    list-style: none;
    padding:0;

    margin:0;  
    display: flex;
    max-height: 100px;
    flex-flow: wrap column;
    text-align: center;

}

#icons{
    font-size: 50px;
    max-width: 100px;
    line-height: 1.5em;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}


.iconText{
    font-size: 17px;
    margin-top: auto;
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin-bottom: 0;
    position: relative;
    text-align: center;

}

/* PROJECTS SECTION */

#myProjects{


    background-color: rgb(164,200,225);
    min-height: 100vh;
    margin:0;
    width:100%;
    position: relative;
    /* background-size: cover; */
    
}

#projectHeader{
    color: rgb(42,72,99);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}
#projectHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: rgb(42,72,99); 
    height: 8px;
    margin: 30px auto;    
}

#projectDiv{
    padding-right:0;
    padding-left:0;

    text-align: center;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    padding-bottom: 50px;
    margin-top:100px;
    font-size: 20px;

}



.btns{
    text-decoration: none;
    color: #2a4863;
    transition: ease .3s;
    cursor: pointer;
    padding: 0;
}


.btns:hover{
    text-decoration: none;
    color: #38d4ff;
    border: solid 3px #f0feff;
    background: #001C38;
    padding: 5px 5px;
    cursor: pointer;

}

.btns:active{
    text-decoration: none;
    color: #38d4ff;
    border: solid 3px #f0feff;
    background: #001C38;
    padding: 5px 5px;
    cursor: pointer;
}




/* THIS IS OVERLAY CONTENT */
.codingContainer{
    /* padding: 1em 0; */
    float: left;
    width: 50%;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    margin: 25px 0 50px 0;

}

.content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;

}


.content .content-overlay {
    background: rgba(164,200,225);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}
  
  .content-image{
    width: 100%;
}
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
  .content-details h3{
    color: black;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
  .content-details p{
    color: black;
    background: white;
    font-size: 0.8em;
}
  
  .fadeIn-bottom{
    top: 80%;
}



/* END OVERLAYCONTENT */





/* NAVBAR */
#htmlCss #javascript #nodeJS #databases{
    text-align:center;
    padding:0;
    
}

#htmlCss:hover #javascript:hover #nodeJS:hover #databases:hover{
background: black;
color: white;   
padding:0; 
}





/* HOBBIES SECTION */


#hobbies{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    background-color: #f0feff;

}
#hobbiesHeader{
    color: #001c38;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 90px;

}
#hobbiesHeader::after {
    content: '';
    width: 70px;
    display: block;
    background: #001c38; 
    height: 8px;
    margin: 30px auto;    
}











/* Mobile Friendly Canvas */

@media only screen and (max-width: 600px) {

    html, body  {

        height: 100%;
        width:100%;
        font-family: 'PT Sans', sans-serif;
        margin:0;
        padding:0;    
           
    } 
    
    

    .navlist{
        padding:0;
        margin:0;
        left:0;
    }
    .links:active{
        text-decoration:none;
    }
    

   #text{
       font-size:20px;
       margin-top: 30px;
       /* width: 100%; */
   }
   #myName{
       font-size:30px;
   }
   .links{
       font-size: 15px;
       top:0;
       padding:0;
       margin:0;
   }
   .buttonList{
       display: inline;
       top:0;
       position: fixed;
       background: black; 
    }
    #canvasMe{
        width: 100px;
    }

    .frontEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    .serverEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    .dataEnd{
        text-align: center;
        padding: 40px;
        max-height: 500px;

    }
    #particles-js{
   
        position: absolute;
        height:100%;
        opacity: 1;
    }
    



    .navBar links{

        top:0;
        font-size: 10px;

    }

    .aboutmeText{
        margin:0;
    }

    .buttonList a {display: none;}
    .navBar a.icon {
      float: right;
      display: block;
      text-decoration: none;
    }


    .navBar.responsive {position: relative;}
    .navBar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;     
      padding:0;
    }
    .navBar.responsive a {
      float: left;
      display: block;
      text-align: left;
      top:0;
    }
    /* .links:hover{
    
        font-weight: bold;
        text-decoration:none;
        background-color: rgb(124, 193, 241);
    
    } */

    .navBar a:hover{
        /* font-size:.8em; */
        background-color: rgba(5,236,255);
        color: white;

    }

    #projectDiv{
        font-size: 10px;
        padding: 0 !important
    }



}

@media screen and (max-width: 500px){
    .container{
      display: block;
      width: 100%;
    }
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 2;
    }
      
      .content-details h3{
        color: black;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
      
      .content-details p{
        color: black;
        background: white;
        font-size: 0.8em;
    }
      
      .fadeIn-bottom{
        top: 80%;
    }
    
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
    .content:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
      
      .content-details h3{
        color: black;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
      
      .content-details p{
        color: black;
        background: white;
        font-size: 0.8em;
    }
      
      .fadeIn-bottom{
        top: 80%;
    }
  }


  
